@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

$bg-color: #2E2E3A;
$text-color: #fff;
$link-color: #42E2B8;
$repo-border-color: #FFA69E;

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: $bg-color;
    color: $text-color;
    font-family: 'Roboto', sans-serif;
}

.main {
    width: 100%;
    padding: 8px;

    &__heading {
        text-align: center;
        font-size: 38px;
        margin-bottom: 50px;
    }

    &__description {
        text-align: center;
        font-size: 18px;
    }

    &__content-grid {
        max-width: 400px;
        margin: 0 auto;
        padding: 8px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        justify-items: center;
    }

    & a {
        color: $link-color;
    }
}

.repo {
    border: 2px solid $repo-border-color;
    width: 100%;
    min-height: 150px;
    padding: 12px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 16px;

    &__list {
        list-style: none;
        padding: 8px;

        &-item {
            display: flex;
            justify-content: space-between;
        }
    }

}

@media only screen and (min-width: 768px) {
    .main {
        &__heading {
            font-size: 42px;
        }

        &__content-grid {
            max-width: 800px;
            grid-template-columns: 1fr 1fr;
        }
    }

    .repo {
        &__list {
            padding: 16px;
        }
    }
}